<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button href="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Muestra nombre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button (click)="showName()" expand="full" shape="round" color="dark" fill="outline">Muestra nombre</ion-button>
  <ion-button (click)="cleanDisplay()" expand="full" shape="round" color="dark" fill="outline">Limpia pantalla</ion-button>
  <h2>{{name}}</h2>
</ion-content>