.poster img {
  height: 220px;
  width: 100%;
}

.poster ion-item span{
  width: 100%;
  text-align: center !important;
  font-weight: 600 !important;
  color: #FFF;
  padding-bottom: 10px;
}

ion-content {
  background: #000 !important;
}

