<ion-header>
  <ion-toolbar>
    <ion-title>
      Ejercicios básicos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item (click)="open(1)">
      <ion-avatar slot="start">
        <div class="round"><strong>1</strong></div>
      </ion-avatar>
      <ion-label>
        <h2>Muestra nombre</h2>
        <p>Muestra el nombre pulsando un botón</p>
        <p>y lo elimina pulsando otro.</p>
      </ion-label>
    </ion-item>
    <ion-item (click)="open(2)">
      <ion-avatar slot="start">
        <div class="round"><strong>2</strong></div>
      </ion-avatar>
      <ion-label>
        <h2>Muestra nombre 2.0</h2>
        <p>Muestra el nombre y lo elimina con</p>
        <p>el mismo botón.</p>
      </ion-label>
    </ion-item>
    <ion-item (click)="open(3)">
      <ion-avatar slot="start">
        <div class="round"><strong>3</strong></div>
      </ion-avatar>
      <ion-label>
        <h2>Contador</h2>
        <p>Suma o resta de uno en uno e</p>
        <p>incluye botón reset.</p>
      </ion-label>
    </ion-item>
    <ion-item (click)="open(4)">
      <ion-avatar slot="start">
        <div class="round"><strong>4</strong></div>
      </ion-avatar>
      <ion-label>
        <h2>Saluda</h2>
        <p>Introduce un nombre y pulsando el</p>
        <p>botón genera el saludo.</p>
      </ion-label>
    </ion-item>
    <ion-item (click)="open(5)">
      <ion-avatar slot="start">
        <div class="round"><strong>5</strong></div>
      </ion-avatar>
      <ion-label>
        <h2>Número aleatorio</h2>
        <p>Genera un número aleatorio comprendido</p>
        <p>entre los valores introducidos.</p>
      </ion-label>
    </ion-item>
    <ion-item (click)="open(6)">
      <ion-avatar slot="start">
        <div class="round"><strong>6</strong></div>
      </ion-avatar>
      <ion-label>
        <h2>Saca al pulpogato</h2>
        <p>Haciendo click sobre el pulpogato</p>
        <p>lo llevas hasta la salida.</p>
      </ion-label>
    </ion-item>
    <ion-item (click)="open(7)">
      <ion-avatar slot="start">
        <div class="round"><strong>7</strong></div>
      </ion-avatar>
      <ion-label>
        <h2>Conversor Pesetas-Euros</h2>
        <p>Introduce una cantidad en pesetas y</p>
        <p>la transforma en euros y viceversa.</p>
      </ion-label>
    </ion-item>
    <ion-item (click)="openPelicula()">
      <ion-avatar slot="start">
        <div class="round"><strong>8</strong></div>
      </ion-avatar>
      <ion-label>
        <h2>Peliculas</h2>
        <p>Ejercicios de examen 3, 4 y 5</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>